main {
  flex: 10;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
}

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: #ffe4e6;
  border-radius: 15px 50px;
  box-shadow: inset 0 0px 10px #9c1f34;
  color: rgb(26, 26, 26);
  min-width: 40vw;
}

form {
  display: flex;
  flex-direction: column;
}

.general-info-cv,
.work-cv,
.education-cv {
  display: flex;
  flex-direction: column;
}

.inputs-wrapper {
  display: table;
}

.input-wrapper {
  display: table-row;
}

label {
  display: table-cell;
  padding: 0.3rem;
  vertical-align: top;
}

input {
  display: table-cell;
}

.wrapper.work-experience {
  grid-column: 2;
  grid-row: 1 / 2;
}

.wrapper.advert {
  min-height: 250px;
  background-image: url("/imgs/ad.jpg");
  background-size: cover;
}

textarea {
  resize: none;
}

.buttons-wrapper {
  align-self: flex-end;
  max-width: fit-content;
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
}

.buttons {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  background-color: #9c1f34;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: #1e293b69 2px 2px;
}

.buttons:hover {
  background-color: #cb2a45;
}

.buttons:active {
  transform: translateY(4px);
  border: none;
  box-shadow: none;
}

@media (max-width: 680px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem; 
  }

  .wrapper {
    min-width: auto;
  }

  .wrapper.advert {
    background-size: cover;
    background-position: 90%;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    min-width: auto;
  }
}

@media (min-width: 2560px) {
  .wrapper {
    min-width: 30vw;
    padding: 3rem;
  }

  .buttons {
    min-width: 144px;
    min-height: 44px;
    font-size: 1vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  input {
    font-size: 1vw;
  }

  textarea {
    font-size: 1vw;
  }
}
