:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

header {
  flex: 0.1;
}

main {
  flex: 10;
}

footer {
  flex: 0.1;
}
